
/* -------------------------------------------------------
                      General Styling
---------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* -------------------------------------------------------
                      Navigation
---------------------------------------------------------*/
nav {
   background-color: #25303B; 
   font-family: 'Didact Gothic', sans-serif;
   font-size: 14px;
   font-weight: bold;
}

nav ul {
   text-align: center;
}

nav li {
   display: inline-block;
   list-style-position:inside;
   border-left: 1px solid #3E5266;
}

nav li:last-child {
   border-right: 1px solid #3E5266;
}

nav li a:link,
nav li a:visited {
   display: block;
   color: white;
   text-align: center;
   padding: 10px 14px;
   text-decoration: none;
}

nav li a:hover,
nav li a:active {
   color: red;
}


/* active nav tab (this page) */

.active {
   background-color: white; 
}

.active a:link,
.active a:visited {
   text-decoration: none;
   color: black;
}

.active a:hover,
.active a:active {
   color: red;
}



/* -------------------------------------------------------
                      Logo Strip
---------------------------------------------------------*/

.logo-strip {

   /* grey gradient at bottom of strip*/
   background-image:
    linear-gradient(
      to bottom, 
      white, 
      white, 
      white, 
      white,
      #ddd
    );
   
   height: 135px;   
   text-align: center;
}

.picture-holder {
   display: inline-block;
   
   padding-top: 30px;
   
   padding-left: 65px;   
   padding-right: 65px;
   
   width: 1020px;
   height: 100%;
}

.picture-holder img {
   vertical-align: middle;
}

.diptic-logo {
   float: left;
}

.store-button {
   margin-top: 10px;
   float: right;
}




/* -------------------------------------------------------
                    Main Content
---------------------------------------------------------*/

.main-content {
   height: 100px;
   width: 100%;
}










.space-for-scrollbar {
   height: 1000px;
}










